@model PublicListVehicleViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row p-3">
    <div class="col">
        <h1>Vehicles</h1>
        <hr />
        <div class="row">
            @foreach (var item in Model.Vehicles)
            {
                <div class="col-3 mb-2">
                    <div class="card">

                        <img src="~/uploads/@item.FeatureImage" class="card-img-top" alt="@item.Name">

                        <div class="card-header">
                            <h3 class="card-title">@item.Name</h3>
                        </div>

                        <div class="card-body">
                            <p>@item.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>

        @await Html.PartialAsync("_PaginationPartial", Model.PaginationDetails) 
        
    </div>
</div>

