@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary">Welcome to Vega Store</h1>
    <p>This project is under construction. Using this customers will be able to view Vehicles listed by the owner.</p>
</div>
