
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <h1>Media Library</h1>
    </div>
</div>
<hr />

<div class="row">
    <div class="col">
        <p>Image 1</p>
    </div>
    
    <div class="col">
        <p>Image 2</p>
    </div>
</div>

