@model IEnumerable<ListFileOnFileSystemViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <h1>Media Library</h1>
    </div>
</div>
<hr />

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col">
            
            <div class="card" style="width: 18rem;">
                <img src="~/@item.Path" class="card-img-top" alt="@item.Path">
                <div class="card-body">
                    <p>@Html.DisplayNameFor(model => model.CreatedAt): @item.CreatedAt</p>
                    <p>#ID: @item.Id</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    }

</div>

